---
import MountainSVG from '../MountainSVG';
import Contact from "../Contact";

const experienceDetails = {
    company: 'PT Sthira Teknik Indonesia',
    position: 'Full-stack Developer',
    duration: 'Jul 2024 - Des 2024',
    location: 'Daerah Istimewa Yogyakarta, Indonesia',
    description: `Developed a comprehensive web platform to streamline the registration, management, and administration
                of training sessions and seminars for healthcare professionals at RSUD Prambanan, Yogyakarta. This
                platform improves operational efficiency, simplifies participant management, and supports seamless
                administration for the hospital’s professional development initiatives.`,
    technologies: ['Laravel', 'React', 'TypeScript', 'TailwindCSS', 'MySQL'],
};
---

<section
        class="text-white bg-gradient-to-b from-gray-700 to-gray-600 w-full h-screen max-lg:h-fit max-lg:pb-24 flex flex-col items-center justify-between relative px-16 pb-20 max-sm:px-8"
        id="experience">
    <div class="w-1/2 z-20 mt-10">
        <h2 class="text-retro text-6xl text-center max-sm:text-4xl">Experience</h2>
        <div class="flex justify-between gap-4 mt-6">
            <article class="flex flex-col items-start w-full gap-1">
                <div class="flex gap-2 items-center max-md:flex-col max-md:items-start">
                    <p class="font-medium text-xl">{experienceDetails.company}</p>
                    <div class="px-3 py-1 rounded-lg border bg-white text-black text-sm opacity-65">Remote</div>
                    <div class="px-3 py-1 rounded-lg border bg-white text-black text-sm opacity-65">Freelance</div>
                </div>
                <p class="font-bold text-lg text-white text-opacity-70">{experienceDetails.position}</p>
                <p class="font-medium text-sm text-white text-opacity-50">{experienceDetails.duration}</p>
                <p class="font-medium text-sm text-white text-opacity-50">{experienceDetails.location}</p>
                <p class="font-medium text-sm mt-2 text-white">{experienceDetails.description}</p>
                <div class="flex gap-2 items-center max-md:grid max-md:grid-cols-2 max-sm:grid-cols-1">
                    {experienceDetails.technologies.map((tech) => (
                            <div class="px-3 py-1 max-sm:px-1 max-sm:text-sm rounded-lg border border-dashed text-sm opacity-65 w-fit">{tech}</div>
                    ))}
                </div>
            </article>
        </div>
    </div>
    <div class="flex flex-col gap-2 z-20 mt-10 justify-center">
        <h2 class="text-retro text-6xl text-center max-sm:text-4xl">Want to Collaborate?</h2>
        <p class="text-lg text-white text-opacity-80 text-center mt-4 max-sm:text-base">Let's Have a Chat</p>
        <p class="text-base text-white text-opacity-70 text-center max-sm:text-sm">
            Feel free to reach out to me if you have any questions, want to collaborate on a project, or just want to
            chat.
            I'm always open to new opportunities and connections.
        </p>
    </div>

    <div class="w-full max-w-lg mt-4 z-20">
        <Contact/>
    </div>
    <MountainSVG client:load/>
</section>
