---
import {Image} from "astro:assets";
interface Props {
    tech: string;
    size: "small" | "medium" | "large";
    isLazy?: boolean;
}

const {tech, size, isLazy = true} = Astro.props;
---

<div
        class={`retro-tech-block relative m-2 flex justify-center items-center gap-1 text-white border-2 border-purple-700/30 rounded-lg cursor-pointer overflow-hidden ${size} ${size === "small" ? "px-2 py-1" : ""} ${size === "medium" ? "px-4 py-2" : ""} ${size === "large" ? "px-6 py-3" : ""} bg-purple-900/20`}>
    <div class="retro-block-inner flex items-center justify-center gap-2">
        <div class="relative block mr-1">
            <Image
                    src={`/assets/icon/${tech.toLowerCase()}.svg`}
                    alt={`${tech}`}
                    width={24}
                    height={24}
                    loading={isLazy ? "lazy" : "eager"}
                    class={`w-6 h-6 ${size === "medium" ? "md:w-8 md:h-8" : ""} ${size === "large" ? "lg:w-10 lg:h-10" : ""} brightness-150`}
            />
        </div>
        <p
                class={`text-lg ${size === "medium" ? "md:text-xl" : ""} ${size === "large" ? "lg:text-2xl" : ""} text-purple-200`}>
            {tech}
        </p>
    </div>
</div>

<style>
    .small {
        font-size: 0.875rem;
    }

    .medium {
        font-size: 1rem;
    }

    .large {
        font-size: 1.25rem;
    }
</style>